[submodule "pybossa/themes/default"]
	path = pybossa/themes/default
	url = https://github.com/Scifabric/pybossa-default-theme
[submodule "pybossa/themes/spraakbanken"]
	path = pybossa/themes/spraakbanken
	url = https://github.com/spraakbanken/pybossa-spraakbanken-theme
	branch = spraakbanken-stage
